<header class="panel smaller">
  <div class="row header-panel">
    <div class="small-12 medium-12 columns">
      <h1>Swirsky Family Dentistry</h1>
    </div>
    <div class="small-12 medium-12 columns phone">
      <h2>(914) 834-9513</h2>
    </div>
  </div>
</header>
