body {
    background-color: white;
}

.all-content {
    background-color: white;
}

.disclaimer {
    background-color: #d3d3d3;
    text-align: center;
    margin-top: 1em;
}

.landing-sections {
    margin: 1.5em 0;
}

.left-section, .right-section {
    background-color: #EDEDED;
}

.team {
    background-color: #d7d7d7;
}

.middle-section h1 {
    text-align: center;
}
