<%= render 'elements/header_small' %>
<%= render 'elements/callout_row', locals: { headline: "Meet Dr. Mike" } %>
<div class="row">
  <div class="small-12 medium-8 columns main-copy">
    <h2>Dr. Michael Swirsky, ABC</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum non tellus vel porttitor. Vestibulum eget metus neque. Nam a tincidunt felis, vel faucibus magna. Praesent auctor, enim quis volutpat pulvinar, lacus dolor convallis mauris, vel tincidunt urna lorem quis velit. Praesent sit amet aliquet lacus, eget vestibulum nunc. Nulla id purus tortor. Integer tellus lectus, tristique non fringilla sit amet, porttitor non diam.
    </p>

    <p>
      Praesent at neque sit amet odio scelerisque euismod eu at nunc. Pellentesque viverra laoreet auctor. Nam ultrices libero ac nunc maximus scelerisque. Maecenas sodales convallis facilisis. Duis maximus, nulla nec porta rutrum, tellus nulla porttitor ligula, vel aliquet urna ligula ac mauris. Morbi tempor quis velit in volutpat. Donec dignissim diam sit amet leo efficitur ullamcorper sed eget arcu. Pellentesque ac nunc suscipit, facilisis sapien a, gravida nulla. Aenean lacinia vitae nisi vel posuere. Vivamus orci velit, egestas sit amet magna a, vehicula feugiat nibh. Phasellus vestibulum libero nec pharetra ultricies.
    </p>

    <p>
      Mauris a sollicitudin nisi, id commodo nulla. Quisque consequat velit in tristique lobortis. Quisque hendrerit laoreet ante sed aliquet. Pellentesque vel elit at libero interdum posuere sit amet hendrerit tortor. Etiam quis lacus hendrerit, efficitur augue eget, ornare nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tellus est, luctus ac tortor id, iaculis pulvinar velit. Nam sit amet dictum leo. Maecenas posuere sollicitudin porttitor. Proin tempus accumsan sollicitudin.
    </p>
  </div>
  <div class="aside small-12 medium-4 columns">
    <h3>Some Aside</h3>
    <p>
      Fusce vitae purus orci. Donec mollis massa dui, a viverra erat iaculis eu. Vivamus nec enim sit amet felis pretium dapibus pulvinar in nisi. Pellentesque mattis hendrerit ex, ut congue libero tincidunt quis. Nullam consectetur consequat urna sit amet pellentesque. Suspendisse hendrerit, nunc ac aliquet fringilla, leo arcu faucibus mauris, et commodo felis tortor condimentum nunc. Duis rhoncus arcu sit amet cursus ornare. Praesent elementum elit eu efficitur molestie. Donec sed lacus ullamcorper, congue enim vitae, aliquam leo. Donec et dapibus nisl.
    </p>
  </div>
</div>
