/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import 'variables';


body {
  font-family: $swirsky-body-font;
  color: $black;
  a {
    color: $main-contrast;
    &:hover {
      color: $contrast-dark;
      background-color: $main-color;
    }
  }
  h1, h2, h3 {
    font-family: $swirsky-header-font;
    color: $main-contrast;
  }
  h1 {
    font-weight: 800;
    letter-spacing: 1.8px;
  }
  h2, h3 {
    font-weight: normal;
  }
}

.navigation {
  border-bottom: 4px solid $main-dark;
}

footer {
  background-color: $main-color;
  a {
    font-weight: 500;
    color: white;
    &:hover {
      color: white;
      background-color: $main-dark;
    }
  }
  margin-top: 10px;
  border-top: 4px solid $main-dark;
  ul {
    list-style: none;
    margin-left: 0;
  }
}

header {
  &.panel {
    background-image: url("walking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    h1, h2 {
      color: white;
    }
  }
  height: 400px;
  h1 {
    font-size: 4em;
  }
}
