<footer>
  <div class="row">
    <div class="medium-4 columns">
      <ul>
        <li><a href="#">some link</a></li>
        <li><a href="#">some other link</a></li>
        <li><a href="#">one last link</a></li>
      </ul>
    </div>
    <div class="medium-4 offset-4 columns">
      <ul>
        <li><a href="#">some other stuff</a></li>
        <li><a href="#">on this side</a></li>
      </ul>
    </div>
  </div>
</footer>
